# ===== Compiled / Build output =====
target/
**/target/
**/project/target/
**/project/project/

# ===== Class & Logs =====
*.class
*.log

# ===== IDE files =====
.idea/
*.iml
.bsp/
.bloop/
.metals/
.vscode/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Redis Files =====
*.rdb